<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
  {% if page.layout == "post" %}
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>

        <ul>
          {% for page in site.header_pages %}
           <li><a href="{{ site.baseurl }}/{{ page }}">{{page}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  {% endif %}
    <main>
      {{ content }}
    </main>

    <footer>
      &copy;
      <span>
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </span>
      <span>
        <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
      </span>
    </footer>
  </body>
</html>
